{% extends "ali_cloud/refresh_cache/refresh_cache.html" %}

{% block refresh_type_content %}
    <div class="col-sm-10 custom_top">
        <div>
            输入刷新缓存的目录路径:
        </div>
        <form action="{{ url_for('ali_cloud.refresh_cache_dir') }}" method="post">
            <div>
                 <textarea class="form-control" name="refresh_dir" rows="10" placeholder="http://abc.com/abc/image/，刷新全站请输入http://abc.com/"></textarea>
            </div>
            <div>
                <h5>多个目录请用回车隔开，每个URL应当以http://或https://开头，一次提交不能超过100个目录</h5>
            </div>

            <div class="custom_top">
                <button id="submit_refresh" class="btn btn-success" type="submit">提交</button>
            </div>
        </form>
    </div>
{% endblock %}