{% extends "layout.html" %}

{% block stylesheet %}
{% endblock%}

{% block content %}
    <div class="col-sm-12">
        <h5 style="color: #eea236">注意：每天最多可以刷新(含预热)2000个文件(URL)和100个目录。刷新任务生效时间大约为5分钟。</h5>
    </div>

    <div class="col-sm-12 custom_top">
        <ul class="nav nav-tabs">
            <li role="presentation" id="refresh_cache_url"><a href="{{ url_for('ali_cloud.refresh_cache_url') }}">URL刷新</a></li>
            <li role="presentation" id="refresh_cache_dir"><a href="{{ url_for('ali_cloud.refresh_cache_dir') }}">目录刷新</a></li>
            <li role="presentation" id="refresh_cache_records"><a href="{{ url_for('ali_cloud.refresh_cache_records') }}">刷新记录</a></li>
        </ul>
    </div>

    {% block refresh_type_content %}
    {% endblock %}

    {% include 'ali_cloud/refresh_cache/refresh_cache_modal.html' %}
{% endblock %}

{% block script %}
    {% include 'ali_cloud/refresh_cache/refresh_cache_script.html' %}
{% endblock %}